{
  "env": {
    "browser": true
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier",
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "semi": "warn",
    "import/prefer-default-export": 0,
    "react/function-component-definition": [
      2,
      {
          "namedComponents": "arrow-function",
          "unnamedComponents": "arrow-function"
      }
  ]
  }
}
